<div class="left-panel">
    <div id="clicking-pane" background-img="assets/img/pic/wallet.png" ng-click="$ctrl.mainButtonOnClick($event)">
    </div>
    <div id="currency-pane">
        <p><i class="fa fa-money"></i> {{$ctrl.CurrencyObject.currency}}</p>
        <p>CPS: {{$ctrl.CurrencyObject.cps}}</p>
        <p>CPC: {{$ctrl.CurrencyObject.cpc}}</p>
        <p>Manufacturing cycle: {{$ctrl.manufacturingCycle / 1000}}s</p>
    </div>
    <div id="save-button">
        <button class="primary button" ng-click="$ctrl.save()">Save Game</button>
    </div>
</div>
<div class="right-panel">
    <div id="main-panel">
        <div class="upgrades-pane" ng-show="$ctrl.navState == 'upgrades'">
            <upgrades-view></upgrades-view>
        </div>
        <div id="stats-pane" ng-show="$ctrl.navState == 'stats'">
            <stats-view></stats-view>
        </div>
        <div class="upgrades-pane" ng-show="$ctrl.navState == 'click-upgrades'">
            <click-upgrades-view></click-upgrades-view>
        </div>
        <div class="upgrades-pane" ng-show="$ctrl.navState == 'factory'">
            <factory></factory>
        </div>
    </div>

    <div id="nav-tab">
        <nav-tab nav-state="$ctrl.navState"></nav-tab>
    </div>



</div>
<div class="bottom-panel">
    <div id="console">
        <console></console>
    </div>
</div>
