<div class="upgrade" ng-repeat="(key, upgrade) in $ctrl.availUpgrades">
    <div class="thumbnail" background-img="{{upgrade.getImgPath()}}"></div>
    <div class="name">{{upgrade.name}}</div>

    <div class="info">
        <i class="fa fa-money"></i> {{upgrade.cost()}} <br> CPC Increase: {{upgrade.cpc}} <br> Number Owned: {{upgrade.numOwned}}
    </div>
    <div class="buy-options">
        <button class="primary button" ng-click="$ctrl.buyUpgrade(key)">Buy One</button>
        <button class="primary button" ng-click="$ctrl.buyMaxUpgrade(key)">Buy Max</button>
    </div>
</div>
