<div class="upgrade" ng-repeat="(key, factory) in $ctrl.availUpgrades">
    <div class="thumbnail" background-img="{{factory.getImgPath()}}"></div>
    <div class="name">{{factory.name}}</div>

    <div class="info">
        <i class="fa fa-money"></i> {{factory.cost()}} <br> Manufactures {{factory.upgradeCount}} {{factory.getUpgradeName()}}(s) per Manufacturing Cycle <br> Number Owned: {{factory.numOwned}}
    </div>
    <div class="buy-options">
        <button class="primary button" ng-click="$ctrl.buyFactory(key)">Buy One</button>
        <button class="primary button" ng-click="$ctrl.buyMaxFactories(key)">Buy Max</button>
    </div>
</div>