@import 'https://fonts.googleapis.com/css?family=Cabin'

$font-stack: Cabin

$color-primary-0: #B5D4EC	// Main Primary color */
$color-primary-1: #E4F1FB
$color-primary-2: #CDE4F5
$color-primary-3: #9DC3E0
$color-primary-4: #84B0D2

$color-secondary-1-0: #BDBDEF	// Main Secondary color (1) */
$color-secondary-1-1: #E6E6FC
$color-secondary-1-2: #D2D2F6
$color-secondary-1-3: #A6A6E5
$color-secondary-1-4: #9090D9

$color-secondary-2-0: #B3EED5	// Main Secondary color (2) */
$color-secondary-2-1: #E2FBF1
$color-secondary-2-2: #CCF6E4
$color-secondary-2-3: #9BE4C4
$color-secondary-2-4: #82D7B3


@mixin primary-pane()
  background-color: $color-primary-1

@mixin header()
  font-variant: small-caps
  font-weight: bold
  font-size: 20px

@mixin unselectable()
  user-drag: none
  user-select: none
  -moz-user-select: none
  -webkit-user-drag: none
  -webkit-user-select: none
  -ms-user-select: none

body
  background-image: url('../img/bg/gradient_squares.png')
  font-family: $font-stack

#currency-pane, #upgrades-pane
  @include primary-pane

.the-button
  width: 100%
  height: 100%

.unselectable
  @include unselectable

.header
  @include header

.primary.icon.button
  width: 100%
  height: 50px

.primary.button
  border: none
  outline: none
  background-color: $color-secondary-1-2
  border-radius: 6px
  border: 1px solid $color-secondary-1-3
  padding: 10px
  font-family: $font-stack
  color: $color-secondary-1-4
  -webkit-transition-duration: 0.2s
  &:hover
    background-color: $color-secondary-1-3
    color: $color-secondary-1-1
  &:active
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6)


.left-panel
  background-color: $color-primary-0
  float: left
  width: 30%
  height: 75%

  #clicking-pane
    margin: 0 auto
    width: 200px
    height: 200px
    .popup.animation
      position: absolute
      font-size: 3em
      animation-duration: 0.5s
      animation-name: popup

    @keyframes popup
      from
        margin-top: -70px
        margin-left: -15px

      to
        margin-top: -130px
        margin-left: -15px
        opacity: 0

  #currency-pane
    width: 100%
    height: 200px

.right-panel
  background-color: $color-secondary-1-0
  float: right
  width: 70%
  height: 75%
  #nav-tab
    margin-right: auto
    margin-left: 95%
    width: 5%
    height: 100%
    background-color: $color-secondary-1-3
  #main-panel
    float: left
    width: 95%
    height: 100%

    .upgrades-pane
      width: 100%
      height: 100%
      .upgrade
        background-color: $color-secondary-1-1
        border: 2px solid
        .thumbnail
          float: left
          width: 100px
          height: 100px
        .name
          float: right
          @include header
        .info
          clear: right
          float: right
          text-align: right
        .buy-options
          clear: both
          padding: 10px
          width: 100%

.bottom-panel
  clear: both
  width: 100%
  height: 25%
  #console
    @include primary-pane

    .title
      position: relative
      display: block
      padding: 10px
      border-bottom: 2px solid
      text-align: left
      color: $color-primary-4
    .message-box
      height: 200px
      overflow-y: auto
      .message
        display: block
        margin-top: 5px
        .time-stamp
          display: inline
          float: right
        .mission
          margin: 5px
          padding: 5px
          border: 2px solid $color-primary-3
          background-color: $color-primary-0
          .header
            display: block
            @extends .header
          .objective
            display: block
            font-style: italic
