#clicking-pane, #currency-pane, #upgrades-pane {
    border-radius: 6px;
    border: 2px solid;
    padding: 5px;
}
#console {
    border-radius: 12px;
    border: 5px solid;
    padding: 10px;
    height: 200px;
    overflow-y: auto;
}