<div class="title">
    Console
</div>
<div class="message-box" scroll-glue>
    <div ng-repeat="msgObj in $ctrl.messages.messageLog">
        <div class="message">
            <span ng-bind-html="$ctrl.sanitize(msgObj.message)"></span>
            <div class="time-stamp">
                {{msgObj.timeStamp}}
            </div>
        </div>
        
    </div>
</div>